@model IEnumerable<Car>

<h2>Car List</h2>

<div class="card display-d">
    <form method="get" action="/Car/List" class="mb-3">
        <input type="text" name="searchTerm" placeholder="Search cars" />
        <button type="submit">Search</button>
    </form>

    <a asp-action="Create" class="btn btn-primary mb-3">Create</a>


</div>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Id)</th>
            <th>@Html.DisplayNameFor(m => m.Brand)</th>
            <th>@Html.DisplayNameFor(m => m.Model)</th>
            <th>@Html.DisplayNameFor(m => m.PricePerDay)</th>
            <th>@Html.DisplayNameFor(m => m.Image)</th>
            <th>@Html.DisplayNameFor(m => m.IsActive)</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@Html.DisplayFor(Model => car.Id)</td>
                <td>@Html.DisplayFor(Model => car.Brand)</td>
                <td>@Html.DisplayFor(Model => car.Model)</td>
                <td>@Html.DisplayFor(Model => car.PricePerDay) $</td>
                <td><img src="~/img/@car.Image" class="car-img-top img-fluid" width="150px"></td>
                <td>@car.IsActive</td>
                <td>
                    
                    <a asp-area="" asp-controller="Car"  asp-action="Update" class="btn btn-secondary" asp-route-CarId="@car.Id">Güncelle</a>
                    <a asp-area="" asp-controller="Car"  asp-action="Delete" class="btn btn-danger" asp-route-CarId="@car.Id">Sil</a>

                </td>
            </tr>
        }
    </tbody>
</table>
